<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MovingTrackGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MovingBlocksEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MovingTrackGenerator.Properties.Settings>
            <setting name="TrackmaniaFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ItemsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Address" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>7171</value>
            </setting>
            <setting name="GeneratedItemsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Author" serializeAs="String">
                <value />
            </setting>
            <setting name="MapsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="GeneratedMapsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="GenerationInfoExportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="IsGenerationInfoExportEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </MovingTrackGenerator.Properties.Settings>
        <MovingBlocksEditor.Properties.Settings>
            <setting name="TrackmaniaFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ItemsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Address" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>7171</value>
            </setting>
            <setting name="GeneratedItemsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Author" serializeAs="String">
                <value />
            </setting>
            <setting name="MapsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="GeneratedMapsFolder" serializeAs="String">
                <value />
            </setting>
        </MovingBlocksEditor.Properties.Settings>
    </userSettings>
</configuration>